# Reading data from relational databases

In [2]:
import pandas as pd
import sqlite3

In [12]:
conn = sqlite3.connect('chinook.db')
cur = conn.cursor()
cur.execute('SELECT * FROM world LIMIT 5;')

OperationalError: no such table: world

In [ ]:
results = cur.fetchall()
results

## Using read_sql_table method

In [13]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine('sqlite:///chinook.db')

connection = engine.connect()

In [15]:
df = pd.read_sql_table('employees', con=connection)

ValueError: Table employees not found

In [ ]:
df = pd.read_sql_table('employees', con=connection,
                       index_col='EmployeeId',
                       parse_dates=['BirthDate', 'HireDate'])

In [ ]:
connection.close()